.container {
    max-width: 1200px; 
    margin: 0 auto;
    width: 100%;
  }

  /*Navbar*/

.navbar {
    height: 80px;
    border-bottom: 2px solid #ccc;
    display: flex;
    justify-content: center;
  }
  
  .navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-transform: capitalize;
    gap: 15px;
    font-size: 1.25rem; 
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar li {
    margin: 0;
 
    padding: 7px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #000; 
  }
  
  .navbar a:hover {
    text-transform: uppercase;
  }

/*Header*/

  .header {
    height: 144px; 
    width: 75%; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header h1 {
    font-size: 3rem; 
    text-transform: uppercase;
  }



  /* Footer*/

  .layout-footer {
    margin-top: 20px;
  }
  
  .layout-footer .border-top {
    border-top: 2px solid #ccc;
  }
  
  .layout-footer .icon {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  
  .layout-footer a {
    color: #000;
    text-decoration: none;
  }
  
  .layout-footer .icon svg {
    width: 40px; 
    height: 40px; 
  }
  
  .layout-footer p {
    margin-top: 5px;
    color: #000;
    text-align: center;
  }


  /* 768*/
@media (max-width: 768px) {
  .navbar ul {
    font-size: 1rem; 
    gap: 10px; 
  }

  .header {
    width: 90%; 
  }

  .header h1 {
    font-size: 2rem; 
  }

  .layout-footer .icon svg {
    width: 30px; 
    height: 30px; 
  }
}

/* 480 */
@media (max-width: 480px) {
  .navbar {
    height: auto; 
  }

  .navbar ul {
    font-size: 1.5rem; 
    gap: 8px; 
  }

  .header {
    width: 100%; 
  }

  .header h1 {
    font-size: 1.5rem; 
  }

  .layout-footer .icon svg {
    width: 25px; 
    height: 25px; 
  }
}